
h1 {
    color: darkblue;
    font-size: "20px";

}
img {
    width: 400px;
    padding: 50px;
}
#thirdDiv { 
    border: 5px dotted red;
    padding: 20px 50px;
    width: 500px;
    height: 1600px;
    background-color: darkblue;
    color: greenyellow;
        
                        
}
#info {
    width: 600px;
    margin: 0 auto;
}

#spanId {
    margin-left: 50px;
}

p {
    width: 600px;
    margin: 0 auto;
}

